# Virtual Environments
venv/
env/
.venv/
venv_linux/

# Data Files
data/

# Logs & dbt Artifacts
logs/
*.log
transform_bank_reviews/logs/
transform_bank_reviews/target/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc